__pycache__/

.env

.venv/
output/
pdfs/
txts/
xmls/
htmls/
data/
mix/
logs/
eve.egg-info/
.coverage

test.py
reqs.txt
*.ipynb
*.log
build/
pytest_cache/
.DS_Store
site/
.pytest_cache/
node_modules/*
.idea/*
CLAUDE.md
package-lock.json
package.json