pipeline:
  inputs:
    path: "txts"
  output_directory: "files/output"
  output_format: "md"
  stages:
    - name: duplication
      # config: { method: "lsh", shingle_size: 3, num_perm: 128, threshold: 0.8 }
      config: {} # defaults to exact
    - name: extraction
      config: {}
    - name: cleaning
      config: {}
    - name: export
      config: {}


# passing in files

# pipeline:
#   inputs:
#     path:
#       - "files/s44288-024-00042-0.pdf"
#       - "files/mar-18-eos-magazine.pdf"
#       - "files/ff36bbf0-e71c-493e-834d-94906b03d7cc.pdf"
#   output_directory: "files/output"
#   output_format: "md"
#   stages:
#     - cleaning
#     - export